$nprogress-height: 5px;
@import 'nprogress';
@import 'nprogress-bootstrap';

body {
  padding-top: 70px;
  padding-bottom: 70px;
  line-height: 1;
  font-size: 16px;
}

.navbar-brand {
  font-weight: bold;
}

.jumbotron h1 {
  font-size: 50px;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.table td, .table th {
  font-size: 14px;
  vertical-align: middle !important;
}
